[submodule "tdx-module"]
	path = tdx-module
	url = git@github.com:intel/tdx-module.git
[submodule "tdx-loader"]
	path = tdx-loader
	url = git@github.com:LeoneChen/tdx-loader.git
[submodule "tdx"]
	path = tdx
	url = git@github.com:canonical/tdx.git
[submodule "tboot"]
	path = tboot
	url = git@github.com:LeoneChen/tboot.git
