[submodule "tdx-module"]
	path = tdx-module
	url = git@github.com:intel/tdx-module.git
[submodule "seam-loader"]
	path = seam-loader
	url = git@github.com:LeoneChen/seam-loader.git
[submodule "tdx"]
	path = tdx
	url = git@github.com:canonical/tdx.git
